.container-fluid{
  font-size: 0.87em;
}

thead{
  background-color: #b3d5d6;
}

.table-scroll {
  height:545px;
  overflow-y: auto;
  overflow-x: auto;
}

#table-wrapper table {
  width:100%;
}

.textField{
  font-size: 20px;
  font-weight: lighter;
}
