<div class="container-fluid" xmlns:v-bind="http://www.w3.org/1999/xhtml">

  <div class="row justify-content-center">
    <div class="col-2">
      <img class="my-profile-picture" v-bind:src="data.self.profile_picture">
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col">
          <h4 class="my-username float-left"><b>{{data.self.username}}</b></h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="my-info float-left"><b class="my-info float-left">Full Name:&nbsp;</b>{{data.self.full_name}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="my-info float-left"><b class="my-info float-left">Biography:&nbsp;</b>{{data.self.bio}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="my-info float-left"><b class="my-info float-left">Website:&nbsp;</b> <a href="">{{data.self.website}}</a></h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="my-info float-left"><b class="my-info float-left">Media:&nbsp;</b>{{data.self.counts.media}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="my-info float-left"><b class="my-info float-left">Follows:&nbsp;</b>{{data.self.counts.follows}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="my-info float-left"><b class="my-info float-left">Followed&nbsp;by:&nbsp;</b>{{data.self.counts.followed_by}}</h6>
        </div>
      </div>

    </div>
  </div>

  </br>
  </br>
  </br>

  <div class="row">
    <div class="col-lg-4">
      <h4>People whom you solely follow ({{data.peopleYouLikeButTheyDontLikeYou.length}})</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">User information</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="item in data.peopleYouLikeButTheyDontLikeYou">
          <tr>
            <td class="th">
              <img class="profile-picture" v-bind:src="item.profile_picture">
            </td>
            <td class="td">
              <div class="row people-info">
                <b>{{item.username}}</b>
              </div>
              <div class="row people-info">
                {{item.full_name}}
              </div>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <h4>Mutual followers ({{data.peopleMutualLove.length}})</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">User information</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="item in data.peopleMutualLove">
          <tr>
            <td class="th">
              <img class="profile-picture" v-bind:src="item.profile_picture">
            </td>
            <td class="td">
              <div class="row people-info">
                <b>{{item.username}}</b>
              </div>
              <div class="row people-info">
                {{item.full_name}}
              </div>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <h4>People who solely follow you ({{data.peopleWhoLikeYouButYouDontLikeThem.length}})</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">User information</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="item in data.peopleWhoLikeYouButYouDontLikeThem">
          <tr>
            <td class="th">
              <img class="profile-picture" v-bind:src="item.profile_picture">
            </td>
            <td class="td">
              <div class="row people-info">
                <b>{{item.username}}</b>
              </div>
              <div class="row people-info">
                {{item.full_name}}
              </div>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
  </div>

</div>
