<div class="container-fluid" xmlns:v-bind="http://www.w3.org/1999/xhtml">

  <h1>Dashboard</h1>

  <div class="row justify-content-center">
    <div class="col-2">
      <img v-bind:src="data.self.profile_picture"> <!-- class="rounded float-left img-thumbnail" -->
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col">
          <h4 class="float-left"><b>{{data.self.username}}</b></h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="float-left"><b>Full Name:</b> {{data.self.full_name}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="float-left"><b>Biography:</b> {{data.self.bio}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="float-left"><b>Website:</b> {{data.self.website}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6><b>Media</b></h6>
        </div>
        <div class="col">
          <h6><b>Follows</b></h6>
        </div>
        <div class="col">
          <h6><b>Followed&nbsp;by</b></h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>{{data.self.counts.media}}</h6>
        </div>
        <div class="col">
          <h6>{{data.self.counts.follows}}</h6>
        </div>
        <div class="col">
          <h6>{{data.self.counts.followed_by}}</h6>
        </div>
      </div>
    </div>
  </div>

  </br>
  </br>
  </br>

  <div class="row">
    <div class="col-lg-4">
      <h4>People you like, but they don't like you <b>({{data.peopleYouLikeButTheyDontLikeYou.length}})</b></h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">User information</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="item in data.peopleYouLikeButTheyDontLikeYou">
          <tr>
            <td class="th">
              <img v-bind:src="item.profile_picture">
            </td>
            <td class="td">
              <div class="row">
                <b>{{item.username}}</b>
              </div>
              <div class="row">
                {{item.full_name}}
              </div>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <h4>People with mutual love <b>({{data.peopleMutualLove.length}})</b></h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">User information</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="item in data.peopleMutualLove">
          <tr>
            <td class="th">
              <img v-bind:src="item.profile_picture">
            </td>
            <td class="td">
              <div class="row">
                <b>{{item.username}}</b>
              </div>
              <div class="row">
                {{item.full_name}}
              </div>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <h4>People who like you, but you don't like them <b>({{data.peopleWhoLikeYouButYouDontLikeThem.length}})</b></h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">User information</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="item in data.peopleWhoLikeYouButYouDontLikeThem">
          <tr>
            <td class="th">
              <img v-bind:src="item.profile_picture">
            </td>
            <td class="td">
              <div class="row">
                <b>{{item.username}}</b>
              </div>
              <div class="row">
                {{item.full_name}}
              </div>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
  </div>

</div>
